*.d
*.o
/firmware
/firmware.packed.bin
/firmware.bin
/compiled-firmware
.cache
compile_commands.json
.vscode
.claude
.agents
k5_eeprom.raw

/build
__pycache__/
node_modules/
docs/node_modules/

.DS_Store
AGENTS.md
